# SoundFonts and Applications
*.sf2
*.app/
*.app

# CMake and build directories
build/
build_msvc_x64/
dist/
bin/
obj/
final-release/
third_party/fluidsynth-build-win32/

# macOS system files
.DS_Store

# Swift / Package Manager
.build/
.swiftpm/
Packages/
Generated/

# Xcode user settings
*.mode1v3
*.mode2v3
*.nib
*.pbxuser
*.perspectivev3
*.xcworkspace
xcuserdata/

# ROMs (Munt MT-32 ROMs)
*.ROM
*.rom
